<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration SYSTEM "config.dtd" >
<configuration>
	<property>
		<name>scalasim.topology.cell.aggregaterouternum</name>
		<value>1</value>
	</property>
    <property>
        <name>scalasim.topology.cell.racknum</name>
        <value>2</value>
    </property>
    <property>
        <name>scalasim.topology.cell.racksize</name>
        <value>2</value>
    </property>

</configuration>
