<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration SYSTEM "fluid.dtd" >
<configuration>
	<property>
		<name>fluidsim.system.traceperiod</name>
		<value>1000</value>
	</property>
	<property>
		<name>fluidsim.system.debugperiod</name>
		<value>1000</value>
	</property>
	<property>
		<name>fluidsim.system.runlength</name>
		<value>1000</value>
	</property>
	<property>
		<name>fluidsim.topology.locallinkrate</name>
		<value>100</value>
	</property>
	<property>
		<name>fluidsim.topology.crossrouterlinkrate</name>
		<value>100</value>
	</property>
	<property>
		<name>fluidsim.application.mapreduce.inputskew</name>
		<value>0.001</value>
	</property>
	<property>
		<name>fluidsim.flow.scheduler</name>
		<value>simulator.entity.flow.NFSOFSwitchScheduler</value>
	</property>
	<property>
		<name>fluidsim.topology.buildingnum</name>
		<value>2</value>
	</property>
	<property>
		<name>fluidsim.topology.l3switchnum</name>
		<value>1</value>
	</property>
	<property>
		<name>fluidsim.topology.l2switchnum</name>
		<value>1</value>
	</property>
	<property>
		<name>fluidsim.topology.hostsperl2sw</name>
		<value>2</value>
	</property>
	<property>
		<name>fluidsim.topology.corenum</name>
		<value>1</value>
	</property>
	<property>
		<name>fluidsim.application.onoff.controlflag</name>
		<value>false</value>
	</property>
	<property>
		<name>fluidsim.application.onoff.maxonduration</name>
		<value>40</value>
	</property>
	<property>
		<name>fluidsim.application.onoff.maxoffduration</name>
		<value>40</value>
	</property>
	<property>
		<name>fluidsim.application.onoff.minonduration</name>
		<value>20</value>
	</property>
	<property>
		<name>fluidsim.application.onoff.minoffduration</name>
		<value>20</value>
	</property>
	<property>
		<name>fluidsim.application.rate</name>
		<value>10</value>
	</property>
	<property>
		<name>fluidsim.host.applications</name>
		<value>simulator.entity.application.NFSMapReduceApplication</value>
	</property>
	<property>
		<name>fluidsim.host.appRates</name>
		<value>10,0.5</value>
	</property>
	<property>
		<name>fluidsim.model.trafficcontroller</name>
		<value>simulator.entity.application.NFSMapReduceTraffic</value>
	</property>
	<property>
		<name>fluidsim.application.mapreduce.rate</name>
		<value>1000</value>
	</property>
	<property>
		<name>fluidsim.application.pa.jobnum</name>
		<value>10</value>
	</property>
	<property>
		<name>fluidsim.application.mapreduce.arrival.stdev</name>
		<value>200</value>
	</property>
	<property>
		<name>fluidsim.application.pa.demandflowsize</name>
		<value>0.032</value>
	</property>
	<property>
		<name>fluidsim.application.pa.rate</name>
		<value>0.625</value>
	</property>
	<property>
		<name>fluidsim.application.pa.master.deadline</name>
		<value>0.06</value>
	</property>
	<property>
		<name>fluidsim.openflow.pauseEvent</name>
		<value>0.06</value>
	</property>
	<property>
		<name>fluidsim.application.pa.arrival.stdev</name>
		<value>200</value>
	</property>
	<property>
		<name>fluidsim.application.mapreduce.jobnum</name>
		<value>10</value>
	</property>
	<property>
		<name>fluidsim.application.mapreduce.inputsize.mean</name>
		<value>192</value>
	</property>
	<property>
		<name>fluidsim.application.mapreduce.inputsize.stdev</name>
		<value>0</value>
	</property>
	<property>
		<name>fluidsim.application.mapreduce.expansionfactor</name>
		<value>1.0</value>
	</property>
	<property>
		<name>fluidsim.openflow.latencypercentage</name>
		<value>0.7</value>
	</property>
	<property>
		<name>fluidsim.openflow.onoff</name>
		<value>true</value>
	</property>
</configuration>
