<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration SYSTEM "fluid.dtd" >
<configuration>
	<property>
		<name>fluidsim.system.traceperiod</name>
		<value>100</value>
	</property>
	<property>
		<name>fluidsim.system.debugperiod</name>
		<value>1000</value>
	</property>
	<property>
		<name>fluidsim.system.runlength</name>
		<value>1000</value>
	</property>
	<property>
		<name>fluidsim.topology.locallinkrate</name>
		<value>1000</value>
	</property>
	<property>
		<name>fluidsim.topology.buildingnum</name>
		<value>2</value>
	</property>
	<property>
		<name>fluidsim.topology.l3switchnum</name>
		<value>2</value>
	</property>
	<property>
		<name>fluidsim.topology.l2switchnum</name>
		<value>16</value>
	</property>
	<property>
		<name>fluidsim.topology.hostsperl2sw</name>
		<value>10</value>
	</property>
	<property>
		<name>fluidsim.topology.corenum</name>
		<value>4</value>
	</property>
	<property>
		<name>fluidsim.application.onoff.controlflag</name>
		<value>false</value>
	</property>
	<property>
		<name>fluidsim.application.onoff.maxonduration</name>
		<value>40</value>
	</property>
	<property>
		<name>fluidsim.application.onoff.maxoffduration</name>
		<value>40</value>
	</property>
	<property>
		<name>fluidsim.application.onoff.minonduration</name>
		<value>20</value>
	</property>
	<property>
		<name>fluidsim.application.onoff.minoffduration</name>
		<value>20</value>
	</property>
	<property>
		<name>fluidsim.application.rate</name>
		<value>10</value>
	</property>
	<property>
		<name>fluidsim.host.applications</name>
		<value>simulator.entity.application.NFSMapReduceApplication</value>
	</property>
		<property>
		<name>fluidsim.host.appRates</name>
		<value>10,0.5</value>
	</property>
	<property>
		<name>fluidsim.model.trafficcontroller</name>
		<value>simulator.entity.application.NFSMapReduceTraffic</value>
	</property>
	<property>
		<name>fluidsim.application.pa.jobnum</name>
		<value>0</value>
	</property>
	<property>
		<name>fluidsim.application.mapreduce.jobnum</name>
		<value>10</value>
	</property>
	<property>
		<name>fluidsim.application.mapreduce.inputsize.mean</name>
		<value>1024</value>
	</property>
	<property>
		<name>fluidsim.application.mapreduce.inputsize.stdev</name>
		<value>0</value>
	</property>
	<property>
		<name>fluidsim.application.mapreduce.expansionfactor</name>
		<value>1.2</value>
	</property>
</configuration>