<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration SYSTEM "fluid.dtd" >
<configuration>
	<property>
		<name>fluidsim.topology.locallinkrate</name>
		<value>0.8</value>
	</property>
	<property>
		<name>fluidsim.topology.hostsperl2sw</name>
		<value>2</value>
	</property>
	<property>
		<name>fluidsim.system.traceperiod</name>
		<value>100</value>
	</property>
	<property>
		<name>fluidsim.system.debugperiod</name>
		<value>100</value>
	</property>
	<property>
		<name>fluidsim.system.runperiod</name>
		<value>100</value>
	</property>
	<property>
		<name>fluidsim.topology.buildingnum</name>
		<value>1</value>
	</property>
	<property>
		<name>fluidsim.topology.l3switchnum</name>
		<value>1</value>
	</property>
	<property>
		<name>fluidsim.topology.l2switchnum</name>
		<value>1</value>
	</property>
	<property>
		<name>fluidsim.application.onoff.maxonduration</name>
		<value>40</value>
	</property>
	<property>
		<name>fluidsim.application.onoff.maxoffduration</name>
		<value>40</value>
	</property>
	<property>
		<name>fluidsim.application.onoff.minonduration</name>
		<value>20</value>
	</property>
	<property>
		<name>fluidsim.application.onoff.minoffduration</name>
		<value>20</value>
	</property>
</configuration>